# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('Orders.csv')

In [3]:
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
orders.describe()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000
mean,278465.221859,560617.126645,2010.934259,7.612537,3.614555,12.728247,13.021823,3.116174,15294.315171,22.394749
std,152771.368303,13106.167695,0.247829,3.416527,1.928274,2.273535,180.420210,22.096788,1713.169877,309.055588
min,0.000000,536365.000000,2010.000000,1.000000,1.000000,6.000000,1.000000,0.000000,12346.000000,0.000000
25%,148333.750000,549234.000000,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,13969.000000,4.680000
50%,284907.500000,561893.000000,2011.000000,8.000000,3.000000,13.000000,6.000000,1.950000,15159.000000,11.800000
75%,410079.250000,572090.000000,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,16795.000000,19.800000
max,541908.000000,581587.000000,2011.000000,12.000000,7.000000,20.000000,80995.000000,8142.750000,18287.000000,168469.600000

In [5]:
unique_customers = orders['CustomerID'].unique()

In [6]:
customer_spending = orders['amount_spent'].groupby(orders['CustomerID']).sum()

In [7]:
customer_spending = customer_spending.reset_index()

In [8]:
len(customer_spending)

4339

In [9]:
customer_spending.describe()

         CustomerID   amount_spent
count   4339.000000    4339.000000
mean   15299.936852    2053.793018
std     1721.889758    8988.248381
min    12346.000000       0.000000
25%    13812.500000     307.245000
50%    15299.000000     674.450000
75%    16778.500000    1661.640000
max    18287.000000  280206.020000

In [20]:
def primer(x):
    return x.iloc[0]
    
pep = orders.groupby('CustomerID').agg({'amount_spent':'sum','Country':primer})

vip=np.percentile(pep['amount_spent'], 95)
preferent=np.percentile(pep['amount_spent'], 75)

def customer_id(x):
    
    if x > vip:
        return 'Vip'
    elif x > preferent:
        return 'Preferred'
    else:
        return 'Normal'

In [21]:
pep['Costumer Tag'] = pep['amount_spent'].apply(customer_id)
pep.head(50)

            amount_spent         Country Costumer Tag
CustomerID
12346           77183.60  United Kingdom          Vip
12347            4310.00         Iceland    Preferred
12348            1797.24         Finland    Preferred
12349            1757.55           Italy    Preferred
12350             334.40          Norway       Normal
12352            2506.04          Norway    Preferred
12353              89.00         Bahrain       Normal
12354            1079.40           Spain       Normal
12355             459.40         Bahrain       Normal
12356            2811.43        Portugal    Preferred
12357            6207.67     Switzerland          Vip
12358            1168.06         Austria       Normal
12359            6372.58          Cyprus          Vip
12360            2662.06         Austria    Preferred
12361             189.90         Belgium       Normal
12362            5226.23         Belgium    Preferred
12363             552.00     Unspecified       Normal
12364            1313.10         Belgium       Normal
12365             641.38          Cyprus       Normal
12367             168.90         Denmark       Normal
12370            3545.69          Cyprus    Preferred
12371            1887.96     Switzerland    Preferred
12372            1298.04         Denmark       Normal
12373             364.60         Austria       Normal
12374             742.93         Austria       Normal
12375             457.50         Finland       Normal
12377            1628.12     Switzerland       Normal
12378            4008.62     Switzerland    Preferred
12379             852.24         Belgium       Normal
12380            2724.81         Belgium    Preferred
12381            1845.31          Norway    Preferred
12383            1850.56         Belgium    Preferred
12384             585.27     Switzerland       Normal
12386             401.90       Australia       Normal
12388            2780.66       Australia    Preferred
12390             549.84         Belgium       Normal
12391             460.89          Cyprus       Normal
12393            1582.60       Australia       Normal
12394            1272.48         Belgium       Normal
12395            3018.63         Belgium    Preferred
12397            2409.90         Belgium    Preferred
12398            1635.66     Switzerland       Normal
12399            1108.65         Belgium       Normal
12401              84.30         Belgium       Normal
12402             225.60         Belgium       Normal
12403             427.70         Denmark       Normal
12405            1710.39         Finland    Preferred
12406            3415.30         Denmark    Preferred
12407            1708.12         Belgium    Preferred
12408            2888.55         Belgium    Preferred

# Q2: How to identify which country has the most VIP Customers?

In [22]:
pep.groupby('Country')['Costumer Tag'].value_counts().sort_values(ascending=False)

Country             Costumer Tag
United Kingdom      Normal          2989
                    Preferred        755
                    Vip              177
France              Normal            58
Germany             Normal            55
                                    ...
EIRE                Preferred          1
European Community  Normal             1
Iceland             Preferred          1
Greece              Preferred          1
Israel              Normal             1
Name: Costumer Tag, Length: 75, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [25]:
pep.groupby('Country')['Costumer Tag'].value_counts().sort_values(ascending=False)
vip_counts = pep[pep['Costumer Tag'] == 'Vip']['Country'].value_counts()
vip_counts.idxmax()

'United Kingdom'

In [26]:
vip_preferent_counts = pep[pep['Costumer Tag'].isin(['Vip','Preferred'])]['Country'].value_counts()
vip_preferent_counts.idxmax()

'United Kingdom'