# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import pandas as pd
import numpy as np
import re

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
def primer(x):
    return x.iloc[0]
id_ = orders.groupby('CustomerID').agg({'amount_spent':'sum','Country':primer})

per_95 = np.percentile(id_['amount_spent'], 95)
per_75 = np.percentile(id_['amount_spent'], 75)
def customer_id(x):
    if x > per_95:
        return 'Vip'
    elif x > per_75:
        return 'Preferred'
    else:
        return 'Normal'

In [4]:
id_.sort_values(by = 'amount_spent', ascending = False)

            amount_spent         Country
CustomerID
14646          280206.02     Netherlands
18102          259657.30  United Kingdom
17450          194550.79  United Kingdom
16446          168472.50  United Kingdom
14911          143825.06            EIRE
...                  ...             ...
17956              12.75  United Kingdom
16454               6.90  United Kingdom
14792               6.20  United Kingdom
16738               3.75  United Kingdom
13256               0.00  United Kingdom

[4339 rows x 2 columns]

In [5]:
id_['tag'] = id_.amount_spent.apply(customer_id)

In [8]:
id_.groupby('Country')['tag'].value_counts()

Country               tag
Australia             Normal          5
                      Preferred       2
                      Vip             2
Austria               Normal          8
                      Preferred       1
                                   ...
United Arab Emirates  Normal          2
United Kingdom        Normal       2989
                      Preferred     755
                      Vip           177
Unspecified           Normal          4
Name: tag, Length: 75, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [11]:
count = id_['tag'].value_counts()['Vip']
count

217

In [12]:
vip_counts = id_[id_['tag'] == 'Vip']['Country'].value_counts()
vip_counts.idxmax()

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
vip_counts2 = id_[id_['tag'].isin(['Vip', 'Prefered'])]['Country'].value_counts()
vip_counts2.idxmax()

'United Kingdom'