# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries los viejos conocidos
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

orders = pd.read_csv("Orders.csv")

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
# your code here

gastos = orders.groupby(["CustomerID","amount_spent"]).sum().reset_index

C:\Users\filokaizen\AppData\Local\Temp\ipykernel_5480\2435105850.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  orders.groupby(["CustomerID","amount_spent"]).sum().reset_index

<bound method DataFrame.reset_index of                          Unnamed: 0  InvoiceNo  year  month  day  hour  \
CustomerID amount_spent
12346      77183.60           61619     541431  2011      1    2    10
12347      5.04               72269     542237  2011      1    3    14
           6.00              148306     549222  2011      4    4    10
           7.80              220578    1091459  4022      5    7    24
           8.40             1927984    2309382  8044     44    8    54
...                             ...        ...   ...    ...  ...   ...
18287      53.10             198737     554065  2011      5    7    10
           59.40             198740     554065  2011      5    7    10
           69.60             984228    1695495  6033     25   13    30
           81.12             785485    1141430  4022     20    6    20
           87.00             198741     554065  2011      5    7    10

                         Quantity  UnitPrice
CustomerID amount_spent
12346      77183.60         74215       1.04
12347      5.04                12       0.42
           6.00                24       0.25
           7.80                24       1.30
           8.40                80       1.68
...                           ...        ...
18287      53.10               18       2.95
           59.40               36       1.65
           69.60              144       4.35
           81.12               96       3.38
           87.00               60       1.45

[139901 rows x 8 columns]>

<bound method DataFrame.reset_index of                          Unnamed: 0  InvoiceNo  year  month  day  hour  \
CustomerID amount_spent
12346      77183.60           61619     541431  2011      1    2    10
12347      5.04               72269     542237  2011      1    3    14
           6.00              148306     549222  2011      4    4    10
           7.80              220578    1091459  4022      5    7    24
           8.40             1927984    2309382  8044     44    8    54
...                             ...        ...   ...    ...  ...   ...
18287      53.10             198737     554065  2011      5    7    10
           59.40             198740     554065  2011      5    7    10
           69.60             984228    1695495  6033     25   13    30
           81.12             785485    1141430  4022     20    6    20
           87.00             198741     554065  2011      5    7    10

                         Quantity  UnitPrice
CustomerID amount_spent
12346      77183.60         74215       1.04
12347      5.04                12       0.42
           6.00                24       0.25
           7.80                24       1.30
           8.40                80       1.68
...                           ...        ...
18287      53.10               18       2.95
           59.40               36       1.65
           69.60              144       4.35
           81.12               96       3.38
           87.00               60       1.45

[139901 rows x 8 columns]>

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [4]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here