# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [18]:
# import required libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [19]:
# your code here
Orders_path = 'Orders.csv'

Pokemon_Path = 'Pokemon.csv'

orders = pd.read_csv(Orders_path)
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [20]:
spend_by_uniquecustomer = orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False)
spend_by_uniquecustomer.head(10)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
Name: amount_spent, dtype: float64

In [16]:
spend_by_uniquecustomer.reset_index(inplace=True)

TypeError: Cannot reset_index inplace on a Series to create a DataFrame

In [13]:
unique_values = not spend_by_uniquecustomer['CustomerID'].duplicated().any()
unique_values

KeyError: 'CustomerID'

In [21]:
spend_uniq_country = orders.groupby(['CustomerID', 'Country'])[['amount_spent']].sum()
orders = spend_uniq_country.reset_index()
orders.head(50)

    CustomerID         Country  amount_spent
0        12346  United Kingdom      77183.60
1        12347         Iceland       4310.00
2        12348         Finland       1797.24
3        12349           Italy       1757.55
4        12350          Norway        334.40
5        12352          Norway       2506.04
6        12353         Bahrain         89.00
7        12354           Spain       1079.40
8        12355         Bahrain        459.40
9        12356        Portugal       2811.43
10       12357     Switzerland       6207.67
11       12358         Austria       1168.06
12       12359          Cyprus       6372.58
13       12360         Austria       2662.06
14       12361         Belgium        189.90
15       12362         Belgium       5226.23
16       12363     Unspecified        552.00
17       12364         Belgium       1313.10
18       12365          Cyprus        641.38
19       12367         Denmark        168.90
20       12370         Austria        277.20
21       12370          Cyprus       3268.49
22       12371     Switzerland       1887.96
23       12372         Denmark       1298.04
24       12373         Austria        364.60
25       12374         Austria        742.93
26       12375         Finland        457.50
27       12377     Switzerland       1628.12
28       12378     Switzerland       4008.62
29       12379         Belgium        852.24
30       12380         Belgium       2724.81
31       12381          Norway       1845.31
32       12383         Belgium       1850.56
33       12384     Switzerland        585.27
34       12386       Australia        401.90
35       12388       Australia       2780.66
36       12390         Belgium        549.84
37       12391          Cyprus        460.89
38       12393       Australia       1582.60
39       12394         Belgium        381.08
40       12394         Denmark        891.40
41       12395         Belgium       3018.63
42       12397         Belgium       2409.90
43       12398     Switzerland       1635.66
44       12399         Belgium       1108.65
45       12401         Belgium         84.30
46       12402         Belgium        225.60
47       12403         Denmark        427.70
48       12405         Finland       1710.39
49       12406         Denmark       3415.30

In [22]:
is_unique_values = not orders['CustomerID'].duplicated().any()
is_unique_values

False

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [4]:
# your code here

'''''
The first group is VIP Customers whose aggregated expenses at your 
global chain stores are above the 95th 
percentile (aka. 0.95 quantile)
''''''

qual unique value de clientes tem a soma de seu gastos em todos os paises?

total_spend_bycustomer = orders.groupby(['CustomerID'])[['amount_spent']].sum()
orders = spend_uniq_country.reset_index()
orders.head(10)

In [24]:

# Calculate the 95th and 75th percentiles
percentile_95 = np.percentile(orders['amount_spent'], 95)
percentile_75 = np.percentile(orders['amount_spent'], 75)

# Create boolean masks for VIPs and Preferred
vip = orders['amount_spent'] > percentile_95
preferred = (orders['amount_spent'] <= percentile_95) & (orders['amount_spent'] > percentile_75)

# Assign VIP and Preferred labels based on the masks
orders['Heavy_User'] = 'Normal'
orders.loc[vip, 'Heavy_User'] = 'VIP'
orders.loc[preferred, 'Heavy_User'] = 'PREF'

# Display the DataFrame with the Category labels
orders.head(10)

   CustomerID         Country  amount_spent Heavy_User
0       12346  United Kingdom      77183.60        VIP
1       12347         Iceland       4310.00       PREF
2       12348         Finland       1797.24       PREF
3       12349           Italy       1757.55       PREF
4       12350          Norway        334.40     Normal
5       12352          Norway       2506.04       PREF
6       12353         Bahrain         89.00     Normal
7       12354           Spain       1079.40     Normal
8       12355         Bahrain        459.40     Normal
9       12356        Portugal       2811.43       PREF

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here

In [26]:
# Filter the DataFrame to include only VIP and PREF customers
filtered_orders = orders[orders['Heavy_User'].isin(['VIP', 'PREF'])]

# Group the filtered DataFrame by 'Country' and count the occurrences of each category
country_counts = filtered_orders.groupby('Country')['Heavy_User'].value_counts().unstack(fill_value=0)

# Calculate the combined count of VIP and PREF for each country
country_counts['VIP+PREF'] = country_counts['VIP'] + country_counts['PREF']

# Find the 'Country' with the highest combined count of VIP and PREF
vip_pref_country = country_counts['VIP+PREF'].idxmax()

print("TOP country with VIP + PREF customers:", vip_pref_country)

TOP country with VIP + PREF customers: United Kingdom