# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [201]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [202]:
pokemon = pd.read_csv('Pokemon.csv')
pokemon.columns = [e.lower().replace(' ','_').replace('.','') for e in pokemon.columns]
pokemon.head(10)
# Creamos la columna 'guess' para almacenar los valores que saquemos de nuestra fórmula prueba,
# y también la columna 'dif' para almacenar la diferencia entre la columna 'total' y nuestra columna 'guess'
pokemon.insert(4, 'guess',0)
pokemon.insert(4, 'dif',6)

In [203]:
# Con la suma directa de hp, attack, defense, sp_atk, sp_def y speed, obtenemos lo mismo que en 'total',
# ya que observamos que cuando usamos esta fórmula la columna 'dif' que hemos creado se anula:

pokemon.guess = pokemon.hp + pokemon.attack + pokemon.defense + pokemon.sp_atk + pokemon.sp_def + pokemon.speed 
pokemon.dif = pokemon.total - pokemon.guess

# Para comprobarlo, buscamos todas las filas en las que 'dif' sea no nulo y las sumamos, para ver si hay.
# Al hacerlo obtenemos False, así que no hay casillas no nulas en 'dif' lo que indica que hemos acertado con la
# fórmula y que es aplicable a todos los casos.

print(sum(pokemon.dif != 0) > 0)
pokemon.head(10)

False

,#,name,type_1,type_2,dif,guess,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,0,318,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,0,405,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,0,525,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,0,625,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,0,309,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,0,405,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,0,534,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,0,634,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,0,634,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,0,314,314,44,48,65,50,64,43,1,False

In [204]:
pokemon.drop(columns = ['dif','guess'], inplace = True)

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [211]:
hot_types = pd.concat([pd.get_dummies(pokemon.type_1), pd.get_dummies(pokemon.type_2)], axis=1)
hot_types.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [212]:
# Concatenamos la columna de 'total' con la tabla anterior, y creamos el dataframe de correlación.
# Nos quedamos con la primera fila porque sólo nos interesa la correlación de 'total' con el resto. 
# Quitamos la correlación de 'total' consigo misma.

corr_total = pd.concat([pokemon.total,hot_types], axis=1).corr().iloc[0].drop('total')

print(corr_total.head())

# De los datos restantes, localizamos la máxima correlación y su índice, que será el tipo de pokemon con
# correlación más positiva de cara a 'total'.

maxcorr = corr_total.max()
best_type = corr_total.idxmax()

print("\nThe maximum correlation with the 'total' ranking is "+str(round(maxcorr,3))+", \
which corresponds to the most promising \npokemon type: "+best_type+'.')

Bug        -0.143957
Dark        0.017818
Dragon      0.196532
Electric    0.016715
Fairy      -0.026948
Name: total, dtype: float64

The maximum correlation with the 'total' ranking is 0.197, which corresponds to the most promising
pokemon type: Dragon.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [213]:
# One way of solving this would be choosing the best correlated type1 and the best correlated type2, expecting 
# that the combo would work good. Another way would be calculating the correlation of the combos already existing
# in the table.

# To see if the second way is viable, let's check how many data of combo-type pokemon we have:

print('\nOnly ' + str(sum(pokemon.type_2.isna()))+' of the total '+str(pokemon.shape[0])+' registered pokemon have a combo type.')

# There are quite a lot. To try this approach, we calculate the combined type1_type2 column as in challenge1
# and select only the pokemon that do have a type 2:

pokemoncombo = pokemon.copy()
pokemoncombo.drop(pokemoncombo[pokemoncombo.type_2.isna()].index,inplace = True)
pokemoncombo['combo_type'] = [e+'-'+j for e,j in zip(pokemoncombo.type_1,pokemoncombo.type_2)]
pokemoncombo.drop(columns = ['type_1','type_2'], inplace=True)

# We check how many of the resulting combo types are different:

print('\nOf these, only '+str(pokemoncombo.combo_type.unique().size)+' different combos are registered, so their correlation\
\nwith the total ranking may not be very representative.')

Only 386 of the total 800 registered pokemon have a combo type.

Of these, only 136 different combos are registered, so their correlation
with the total ranking may not be very representative.

In [214]:
pokemoncombo.head()

,#,name,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,combo_type
0,1,Bulbasaur,318,45,49,49,65,65,45,1,False,Grass-Poison
1,2,Ivysaur,405,60,62,63,80,80,60,1,False,Grass-Poison
2,3,Venusaur,525,80,82,83,100,100,80,1,False,Grass-Poison
3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,False,Grass-Poison
6,6,Charizard,534,78,84,78,109,85,100,1,False,Fire-Flying

In [215]:
# We follow the same proceedure as above, and obtain the correlation for the combined types:

hot_combo_types = pd.get_dummies(pokemoncombo.combo_type)
corr_combo_total = pd.concat([pokemoncombo.total,hot_combo_types], axis=1).corr().iloc[0].drop('total').head()

maxcorrcombo = corr_combo_total.max()
best_combo_type = corr_combo_total.idxmax()

print("\nThe maximum correlation with the 'total' ranking is "+str(round(maxcorrcombo,3))+", \
which corresponds to the most promising \ncombined pokemon type registered: "+best_combo_type+'.')

The maximum correlation with the 'total' ranking is 0.054, which corresponds to the most promising
combined pokemon type registered: Bug-Fighting.

In [216]:
# It is not a great correlation. The other path would be choosing the most promising type 1 and type 2 separately 
# and expect the unknown combo to work better than the single type pokemon. This could be done following the
# proceedure above once more:

corr_totaltype1 = pd.concat([pokemon.total,pd.get_dummies(pokemon.type_1)], axis=1).corr().iloc[0].drop('total')
maxcorr1 = corr_totaltype1.max()
best_type1 = corr_totaltype1.idxmax()

corr_totaltype2 = pd.concat([pokemon.total,pd.get_dummies(pokemon.type_2)], axis=1).corr().iloc[0].drop('total')
maxcorr2 = corr_totaltype2.max()
best_type2 = corr_totaltype2.idxmax()

print("\nThe maximum correlation with the 'total' ranking is "+str(round(maxcorr1,3))+" for type_1 and "+str(round(maxcorr2,3))+" for\
\ntype_2, which correspond to the pokemon types: "+best_type1+' and '+best_type2+'.\
\nThe combo '+ best_type1 + '-' + best_type2 + ' would be the most promising.')

The maximum correlation with the 'total' ranking is 0.197 for type_1 and 0.139 for
type_2, which correspond to the pokemon types: Dragon and Fighting.
The combo Dragon-Fighting would be the most promising.