# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# Agrego los 'amount_spent' para cada cliente único
customer_total_spent = orders.groupby('CustomerID')['amount_spent'].sum()
customer_total_spent = customer_total_spent.reset_index()

customer_total_spent.head()

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40

In [4]:
#Selecciono los clientes cuyo 'amount_spent' agregado se encuentra en un rango de cuantiles dado

# Calculamos los cuantiles 0.75 y 0.95
quantile_75 = customer_total_spent['amount_spent'].quantile(0.75) 
quantile_95 = customer_total_spent['amount_spent'].quantile(0.95) 


# Creo dos variables booleanas para filtrar cada tipo de cliente
per_vip = (customer_total_spent['amount_spent'] > quantile_95) #VIP. clientes que han gastado más que el 95% del total de clientes
per_preferred = (customer_total_spent['amount_spent'] > quantile_75) & (customer_total_spent['amount_spent'] <= quantile_95) #Preferred. clientes que han gastado entre el 75 y el 95% del total de clientes

# Aplicamos los percentiles para obtener los clientes VIP y preferred
vip_customers = customer_total_spent[per_vip]
preferred_customers = customer_total_spent[per_preferred]

vip_customers.head(), preferred_customers.head()

(    CustomerID  amount_spent
 0        12346      77183.60
 10       12357       6207.67
 12       12359       6372.58
 50       12409      11072.67
 55       12415     124914.53,
    CustomerID  amount_spent
 1       12347       4310.00
 2       12348       1797.24
 3       12349       1757.55
 5       12352       2506.04
 9       12356       2811.43)

In [6]:
# Etiquetar a los clientes seleccionados como "VIP" o "Preferred"

# Creamos una nueva columna 'CustomerType' y asignamos los valores 'VIP', 'Preferred' o 'Regular' dependiendo del 'CustomerID'
customer_total_spent.loc[per_vip, 'CustomerType'] = 'VIP'
customer_total_spent.loc[per_preferred, 'CustomerType'] = 'Preferred'
customer_total_spent['CustomerType'].fillna('Regular', inplace=True)

# Mostramos las primeras filas del DataFrame resultante
customer_total_spent.head()

   CustomerID  amount_spent CustomerType
0       12346      77183.60          VIP
1       12347       4310.00    Preferred
2       12348       1797.24    Preferred
3       12349       1757.55    Preferred
4       12350        334.40      Regular

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [12]:
# Primero, junto los datos de los clientes VIP con los datos de los pedidos originales para obtener la información del país
vip_customers_country = pd.merge(vip_customers, orders, on='CustomerID', how='inner')

# Luego, contamos el número de clientes VIP únicos para cada país
vip_country_counts = vip_customers_country.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False)

# Mostramos el país con el mayor número de clientes VIP
vip_country_counts.head(1)

Country
United Kingdom    177
Name: CustomerID, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
# Unir los clientes Preferentes con el dataframe original para obtener la información del país
preferred_customers_country = pd.merge(preferred_customers, orders[['CustomerID', 'Country']], on='CustomerID', how='left')

# Eliminar duplicados
preferred_customers_country = preferred_customers_country.drop_duplicates()

# Concatenar los dataframes de clientes VIP y Preferentes
vip_preferred_customers_country = pd.concat([vip_customers_country, preferred_customers_country])

# Contar el número de clientes VIP y Preferentes únicos por país
vip_preferred_country_counts = vip_preferred_customers_country['Country'].value_counts()

vip_preferred_country_counts.head()

United Kingdom    84940
EIRE               7078
France             3310
Germany            3156
Netherlands        2080
Name: Country, dtype: int64